<div class="modal-header" (contextmenu)="__elementSelectionService.select('875072227',$event)" [ngStyle]="__elementSelectionService.getStyles('875072227')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" id="showHealthLabel" *ngIf="health" (contextmenu)="__elementSelectionService.select('511418277',$event)" [ngStyle]="__elementSelectionService.getStyles('511418277')">
        <span class="text-capitalize" (contextmenu)="__elementSelectionService.select('1495508083',$event)" [ngStyle]="__elementSelectionService.getStyles('1495508083')">{{ health.key }}</span>
    </h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="dismiss()" (contextmenu)="__elementSelectionService.select('839612925',$event)" [ngStyle]="__elementSelectionService.getStyles('839612925')">
        <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('771116177',$event)" [ngStyle]="__elementSelectionService.getStyles('771116177')">&#215;</span>
    </button>
</div>

<div class="modal-body pad" (contextmenu)="__elementSelectionService.select('622719508',$event)" [ngStyle]="__elementSelectionService.getStyles('622719508')"(click)='__elementSelectionService.clear()'>
    <div *ngIf="health" (contextmenu)="__elementSelectionService.select('1865578557',$event)" [ngStyle]="__elementSelectionService.getStyles('1865578557')">
        <h5 (contextmenu)="__elementSelectionService.select('729172372',$event)" [ngStyle]="__elementSelectionService.getStyles('729172372')">Properties</h5>

        <div class="table-responsive" (contextmenu)="__elementSelectionService.select('1113266582',$event)" [ngStyle]="__elementSelectionService.getStyles('1113266582')">
            <table class="table table-striped" aria-describedby="showHealthLabel" (contextmenu)="__elementSelectionService.select('1565939592',$event)" [ngStyle]="__elementSelectionService.getStyles('1565939592')">
                <thead (contextmenu)="__elementSelectionService.select('559497103',$event)" [ngStyle]="__elementSelectionService.getStyles('559497103')">
                    <tr (contextmenu)="__elementSelectionService.select('955971801',$event)" [ngStyle]="__elementSelectionService.getStyles('955971801')">
                        <th scope="col" class="text-left" (contextmenu)="__elementSelectionService.select('578273785',$event)" [ngStyle]="__elementSelectionService.getStyles('578273785')">Name</th>
                        <th scope="col" class="text-left" (contextmenu)="__elementSelectionService.select('1299331112',$event)" [ngStyle]="__elementSelectionService.getStyles('1299331112')">Value</th>
                    </tr>
                </thead>
                <tbody (contextmenu)="__elementSelectionService.select('633324366',$event)" [ngStyle]="__elementSelectionService.getStyles('633324366')">
                    <tr *ngFor="let healthDetail of health.value.details | keys" (contextmenu)="__elementSelectionService.select('1248647952',$event)" [ngStyle]="__elementSelectionService.getStyles('1248647952')">
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('1451795373',$event)" [ngStyle]="__elementSelectionService.getStyles('1451795373')">{{ healthDetail.key }}</td>
                        <td class="text-left" (contextmenu)="__elementSelectionService.select('174551596',$event)" [ngStyle]="__elementSelectionService.getStyles('174551596')">{{ readableValue(healthDetail.value) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer" (contextmenu)="__elementSelectionService.select('1369622446',$event)" [ngStyle]="__elementSelectionService.getStyles('1369622446')"(click)='__elementSelectionService.clear()'>
    <button data-dismiss="modal" class="btn btn-secondary float-left" type="button" (click)="dismiss()" (contextmenu)="__elementSelectionService.select('1369011613',$event)" [ngStyle]="__elementSelectionService.getStyles('1369011613')">Done</button>
</div>
