<div (contextmenu)="__elementSelectionService.select('1885708220',$event)" [ngStyle]="__elementSelectionService.getStyles('1885708220')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('528573692',$event)" [ngStyle]="__elementSelectionService.getStyles('528573692')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1128632527',$event)" [ngStyle]="__elementSelectionService.getStyles('1128632527')">
            <h2 *ngIf="account" (contextmenu)="__elementSelectionService.select('1914099909',$event)" [ngStyle]="__elementSelectionService.getStyles('1914099909')">User settings for [<b (contextmenu)="__elementSelectionService.select('2087469051',$event)" [ngStyle]="__elementSelectionService.getStyles('2087469051')">{{ account.login }}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('1750991374',$event)" [ngStyle]="__elementSelectionService.getStyles('1750991374')">
                <strong (contextmenu)="__elementSelectionService.select('124920866',$event)" [ngStyle]="__elementSelectionService.getStyles('124920866')">Settings saved!</strong>
            </div>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1130763513',$event)" [ngStyle]="__elementSelectionService.getStyles('1130763513')"></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate (contextmenu)="__elementSelectionService.select('1583900809',$event)" [ngStyle]="__elementSelectionService.getStyles('1583900809')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1186877240',$event)" [ngStyle]="__elementSelectionService.getStyles('1186877240')">
                    <label class="form-control-label" for="firstName" (contextmenu)="__elementSelectionService.select('1358635257',$event)" [ngStyle]="__elementSelectionService.getStyles('1358635257')">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name" formControlName="firstName" (contextmenu)="__elementSelectionService.select('592000963',$event)" [ngStyle]="__elementSelectionService.getStyles('592000963')">

                    <div *ngIf="settingsForm.get('firstName')!.invalid &#38;&#38; (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)" (contextmenu)="__elementSelectionService.select('1056456451',$event)" [ngStyle]="__elementSelectionService.getStyles('1056456451')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required" (contextmenu)="__elementSelectionService.select('176906347',$event)" [ngStyle]="__elementSelectionService.getStyles('176906347')">
                            Your first name is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('67007787',$event)" [ngStyle]="__elementSelectionService.getStyles('67007787')">
                            Your first name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1768144312',$event)" [ngStyle]="__elementSelectionService.getStyles('1768144312')">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('370968496',$event)" [ngStyle]="__elementSelectionService.getStyles('370968496')">
                    <label class="form-control-label" for="lastName" (contextmenu)="__elementSelectionService.select('1204102432',$event)" [ngStyle]="__elementSelectionService.getStyles('1204102432')">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name" formControlName="lastName" (contextmenu)="__elementSelectionService.select('937576414',$event)" [ngStyle]="__elementSelectionService.getStyles('937576414')">

                    <div *ngIf="settingsForm.get('lastName')!.invalid &#38;&#38; (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)" (contextmenu)="__elementSelectionService.select('1134076647',$event)" [ngStyle]="__elementSelectionService.getStyles('1134076647')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required" (contextmenu)="__elementSelectionService.select('835423267',$event)" [ngStyle]="__elementSelectionService.getStyles('835423267')">
                            Your last name is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1607025439',$event)" [ngStyle]="__elementSelectionService.getStyles('1607025439')">
                            Your last name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('2058367887',$event)" [ngStyle]="__elementSelectionService.getStyles('2058367887')">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('2092509604',$event)" [ngStyle]="__elementSelectionService.getStyles('2092509604')">
                    <label class="form-control-label" for="email" (contextmenu)="__elementSelectionService.select('293472388',$event)" [ngStyle]="__elementSelectionService.getStyles('293472388')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" formControlName="email" (contextmenu)="__elementSelectionService.select('70938639',$event)" [ngStyle]="__elementSelectionService.getStyles('70938639')">

                    <div *ngIf="settingsForm.get('email')!.invalid &#38;&#38; (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('2146244428',$event)" [ngStyle]="__elementSelectionService.getStyles('2146244428')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required" (contextmenu)="__elementSelectionService.select('1244460316',$event)" [ngStyle]="__elementSelectionService.getStyles('1244460316')">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email" (contextmenu)="__elementSelectionService.select('729284341',$event)" [ngStyle]="__elementSelectionService.getStyles('729284341')">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('2082101660',$event)" [ngStyle]="__elementSelectionService.getStyles('2082101660')">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1809479204',$event)" [ngStyle]="__elementSelectionService.getStyles('1809479204')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1190394454',$event)" [ngStyle]="__elementSelectionService.getStyles('1190394454')">Save</button>
            </form>
        </div>
    </div>
</div>
