<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1581706209',$event)" [ngStyle]="__elementSelectionService.getStyles('1581706209')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('675258919',$event)" [ngStyle]="__elementSelectionService.getStyles('675258919')">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" (contextmenu)="__elementSelectionService.select('1104104738',$event)" [ngStyle]="__elementSelectionService.getStyles('1104104738')">
            <h2 id="myUserLabel" (contextmenu)="__elementSelectionService.select('1802541634',$event)" [ngStyle]="__elementSelectionService.getStyles('1802541634')">
                Create or edit a User
            </h2>

            <div *ngIf="user" (contextmenu)="__elementSelectionService.select('1740093668',$event)" [ngStyle]="__elementSelectionService.getStyles('1740093668')">
                <jhi-alert-error (contextmenu)="__elementSelectionService.select('852230319',$event)" [ngStyle]="__elementSelectionService.getStyles('852230319')"></jhi-alert-error>

                <div class="form-group" [hidden]="!user.id" (contextmenu)="__elementSelectionService.select('156368265',$event)" [ngStyle]="__elementSelectionService.getStyles('156368265')">
                    <label (contextmenu)="__elementSelectionService.select('1713165419',$event)" [ngStyle]="__elementSelectionService.getStyles('1713165419')">ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly (contextmenu)="__elementSelectionService.select('1018568916',$event)" [ngStyle]="__elementSelectionService.getStyles('1018568916')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1848481429',$event)" [ngStyle]="__elementSelectionService.getStyles('1848481429')">
                    <label class="form-control-label" (contextmenu)="__elementSelectionService.select('1746309996',$event)" [ngStyle]="__elementSelectionService.getStyles('1746309996')">Login</label>
                    <input type="text" class="form-control" name="login" formControlName="login" (contextmenu)="__elementSelectionService.select('1755954569',$event)" [ngStyle]="__elementSelectionService.getStyles('1755954569')">

                    <div *ngIf="editForm.get('login')!.invalid &#38;&#38; (editForm.get('login')!.dirty || editForm.get('login')!.touched)" (contextmenu)="__elementSelectionService.select('1704235208',$event)" [ngStyle]="__elementSelectionService.getStyles('1704235208')">
                        <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required" (contextmenu)="__elementSelectionService.select('1729051601',$event)" [ngStyle]="__elementSelectionService.getStyles('1729051601')">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1004423599',$event)" [ngStyle]="__elementSelectionService.getStyles('1004423599')">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.pattern" (contextmenu)="__elementSelectionService.select('507444904',$event)" [ngStyle]="__elementSelectionService.getStyles('507444904')">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1609379703',$event)" [ngStyle]="__elementSelectionService.getStyles('1609379703')">
                    <label class="form-control-label" (contextmenu)="__elementSelectionService.select('1092765416',$event)" [ngStyle]="__elementSelectionService.getStyles('1092765416')">First Name</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName" (contextmenu)="__elementSelectionService.select('142142546',$event)" [ngStyle]="__elementSelectionService.getStyles('142142546')">

                    <div *ngIf="editForm.get('firstName')!.invalid &#38;&#38; (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)" (contextmenu)="__elementSelectionService.select('1641711691',$event)" [ngStyle]="__elementSelectionService.getStyles('1641711691')">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1467651472',$event)" [ngStyle]="__elementSelectionService.getStyles('1467651472')">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('71081105',$event)" [ngStyle]="__elementSelectionService.getStyles('71081105')">
                    <label (contextmenu)="__elementSelectionService.select('1265232440',$event)" [ngStyle]="__elementSelectionService.getStyles('1265232440')">Last Name</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName" (contextmenu)="__elementSelectionService.select('2126822350',$event)" [ngStyle]="__elementSelectionService.getStyles('2126822350')">

                    <div *ngIf="editForm.get('lastName')!.invalid &#38;&#38; (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)" (contextmenu)="__elementSelectionService.select('2098292627',$event)" [ngStyle]="__elementSelectionService.getStyles('2098292627')">
                        <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('497661108',$event)" [ngStyle]="__elementSelectionService.getStyles('497661108')">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('420853011',$event)" [ngStyle]="__elementSelectionService.getStyles('420853011')">
                    <label class="form-control-label" (contextmenu)="__elementSelectionService.select('1121216308',$event)" [ngStyle]="__elementSelectionService.getStyles('1121216308')">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email" (contextmenu)="__elementSelectionService.select('881831170',$event)" [ngStyle]="__elementSelectionService.getStyles('881831170')">

                    <div *ngIf="editForm.get('email')!.invalid &#38;&#38; (editForm.get('email')!.dirty || editForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('1683202867',$event)" [ngStyle]="__elementSelectionService.getStyles('1683202867')">
                        <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" (contextmenu)="__elementSelectionService.select('1348091783',$event)" [ngStyle]="__elementSelectionService.getStyles('1348091783')">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('836112255',$event)" [ngStyle]="__elementSelectionService.getStyles('836112255')">
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('2029536250',$event)" [ngStyle]="__elementSelectionService.getStyles('2029536250')">
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.email" (contextmenu)="__elementSelectionService.select('21708269',$event)" [ngStyle]="__elementSelectionService.getStyles('21708269')">
                            Your email is invalid.
                        </small>
                    </div>
                </div>

                <div class="form-check" (contextmenu)="__elementSelectionService.select('15502404',$event)" [ngStyle]="__elementSelectionService.getStyles('15502404')">
                    <label class="form-check-label" for="activated" (contextmenu)="__elementSelectionService.select('21022417',$event)" [ngStyle]="__elementSelectionService.getStyles('21022417')">
                        <input class="form-check-input" [attr.disabled]="user.id === undefined ? 'disabled' : null" type="checkbox" id="activated" name="activated" formControlName="activated" (contextmenu)="__elementSelectionService.select('991797904',$event)" [ngStyle]="__elementSelectionService.getStyles('991797904')">
                        <span (contextmenu)="__elementSelectionService.select('1667322955',$event)" [ngStyle]="__elementSelectionService.getStyles('1667322955')">Activated</span>
                    </label>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('118188751',$event)" [ngStyle]="__elementSelectionService.getStyles('118188751')">
                    <label (contextmenu)="__elementSelectionService.select('16405169',$event)" [ngStyle]="__elementSelectionService.getStyles('16405169')">Profiles</label>
                    <select class="form-control" multiple name="authority" formControlName="authorities" (contextmenu)="__elementSelectionService.select('1445292316',$event)" [ngStyle]="__elementSelectionService.getStyles('1445292316')">
                        <option *ngFor="let authority of authorities" [value]="authority" (contextmenu)="__elementSelectionService.select('1057991839',$event)" [ngStyle]="__elementSelectionService.getStyles('1057991839')">{{ authority }}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="user" (contextmenu)="__elementSelectionService.select('1661924515',$event)" [ngStyle]="__elementSelectionService.getStyles('1661924515')">
                <button type="button" class="btn btn-secondary" (click)="previousState()" (contextmenu)="__elementSelectionService.select('825449897',$event)" [ngStyle]="__elementSelectionService.getStyles('825449897')">
                    <fa-icon icon="ban" (contextmenu)="__elementSelectionService.select('1277407002',$event)" [ngStyle]="__elementSelectionService.getStyles('1277407002')"></fa-icon>&#160;<span (contextmenu)="__elementSelectionService.select('243960149',$event)" [ngStyle]="__elementSelectionService.getStyles('243960149')">Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('448122827',$event)" [ngStyle]="__elementSelectionService.getStyles('448122827')">
                    <fa-icon icon="save" (contextmenu)="__elementSelectionService.select('826283809',$event)" [ngStyle]="__elementSelectionService.getStyles('826283809')"></fa-icon>&#160;<span (contextmenu)="__elementSelectionService.select('1623860588',$event)" [ngStyle]="__elementSelectionService.getStyles('1623860588')">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
