<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1485595470',$event)" [ngStyle]="__elementSelectionService.getStyles('1485595470')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1448705542',$event)" [ngStyle]="__elementSelectionService.getStyles('1448705542')">
        <div *ngIf="user" (contextmenu)="__elementSelectionService.select('1836380560',$event)" [ngStyle]="__elementSelectionService.getStyles('1836380560')">
            <h2 (contextmenu)="__elementSelectionService.select('1736275604',$event)" [ngStyle]="__elementSelectionService.getStyles('1736275604')">
                <span (contextmenu)="__elementSelectionService.select('726475500',$event)" [ngStyle]="__elementSelectionService.getStyles('726475500')">User</span> [<b (contextmenu)="__elementSelectionService.select('913952973',$event)" [ngStyle]="__elementSelectionService.getStyles('913952973')">{{ user.login }}</b>]
            </h2>

            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('2093703139',$event)" [ngStyle]="__elementSelectionService.getStyles('2093703139')">
                <dt (contextmenu)="__elementSelectionService.select('1888374584',$event)" [ngStyle]="__elementSelectionService.getStyles('1888374584')"><span (contextmenu)="__elementSelectionService.select('840321415',$event)" [ngStyle]="__elementSelectionService.getStyles('840321415')">Login</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1242630320',$event)" [ngStyle]="__elementSelectionService.getStyles('1242630320')">
                    <span (contextmenu)="__elementSelectionService.select('1812161110',$event)" [ngStyle]="__elementSelectionService.getStyles('1812161110')">{{ user.login }}</span>
                    <jhi-boolean [value]="user.activated ? true : false" textTrue="Activated" textFalse="Deactivated" (contextmenu)="__elementSelectionService.select('1853228897',$event)" [ngStyle]="__elementSelectionService.getStyles('1853228897')">
                    </jhi-boolean>
                </dd>

                <dt (contextmenu)="__elementSelectionService.select('1856774489',$event)" [ngStyle]="__elementSelectionService.getStyles('1856774489')"><span (contextmenu)="__elementSelectionService.select('750444724',$event)" [ngStyle]="__elementSelectionService.getStyles('750444724')">First Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1532769959',$event)" [ngStyle]="__elementSelectionService.getStyles('1532769959')">{{ user.firstName }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('97484706',$event)" [ngStyle]="__elementSelectionService.getStyles('97484706')"><span (contextmenu)="__elementSelectionService.select('182853803',$event)" [ngStyle]="__elementSelectionService.getStyles('182853803')">Last Name</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1898110467',$event)" [ngStyle]="__elementSelectionService.getStyles('1898110467')">{{ user.lastName }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('1265710990',$event)" [ngStyle]="__elementSelectionService.getStyles('1265710990')"><span (contextmenu)="__elementSelectionService.select('901608237',$event)" [ngStyle]="__elementSelectionService.getStyles('901608237')">Email</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('241561161',$event)" [ngStyle]="__elementSelectionService.getStyles('241561161')">{{ user.email }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('1775303488',$event)" [ngStyle]="__elementSelectionService.getStyles('1775303488')"><span (contextmenu)="__elementSelectionService.select('727678131',$event)" [ngStyle]="__elementSelectionService.getStyles('727678131')">Created By</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1973765870',$event)" [ngStyle]="__elementSelectionService.getStyles('1973765870')">{{ user.createdBy }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('1418979765',$event)" [ngStyle]="__elementSelectionService.getStyles('1418979765')"><span (contextmenu)="__elementSelectionService.select('980877980',$event)" [ngStyle]="__elementSelectionService.getStyles('980877980')">Created Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1780308869',$event)" [ngStyle]="__elementSelectionService.getStyles('1780308869')">{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('894493214',$event)" [ngStyle]="__elementSelectionService.getStyles('894493214')"><span (contextmenu)="__elementSelectionService.select('2126871360',$event)" [ngStyle]="__elementSelectionService.getStyles('2126871360')">Last Modified By</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2082797030',$event)" [ngStyle]="__elementSelectionService.getStyles('2082797030')">{{ user.lastModifiedBy }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('2095405204',$event)" [ngStyle]="__elementSelectionService.getStyles('2095405204')"><span (contextmenu)="__elementSelectionService.select('1310135556',$event)" [ngStyle]="__elementSelectionService.getStyles('1310135556')">Last Modified Date</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('459110653',$event)" [ngStyle]="__elementSelectionService.getStyles('459110653')">{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</dd>

                <dt (contextmenu)="__elementSelectionService.select('1074607541',$event)" [ngStyle]="__elementSelectionService.getStyles('1074607541')"><span (contextmenu)="__elementSelectionService.select('385545432',$event)" [ngStyle]="__elementSelectionService.getStyles('385545432')">Profiles</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1622375478',$event)" [ngStyle]="__elementSelectionService.getStyles('1622375478')">
                    <ul class="list-unstyled" (contextmenu)="__elementSelectionService.select('282683981',$event)" [ngStyle]="__elementSelectionService.getStyles('282683981')">
                        <li *ngFor="let authority of user.authorities" (contextmenu)="__elementSelectionService.select('969954686',$event)" [ngStyle]="__elementSelectionService.getStyles('969954686')">
                            <span class="badge badge-info" (contextmenu)="__elementSelectionService.select('2018323112',$event)" [ngStyle]="__elementSelectionService.getStyles('2018323112')">{{ authority }}</span>
                        </li>
                    </ul>
                </dd>
            </dl>

            <button type="submit" routerLink="../../" class="btn btn-info" (contextmenu)="__elementSelectionService.select('56933211',$event)" [ngStyle]="__elementSelectionService.getStyles('56933211')">
                <fa-icon icon="arrow-left" (contextmenu)="__elementSelectionService.select('1479815800',$event)" [ngStyle]="__elementSelectionService.getStyles('1479815800')"></fa-icon>&#160;<span (contextmenu)="__elementSelectionService.select('1668609957',$event)" [ngStyle]="__elementSelectionService.getStyles('1668609957')">Back</span>
            </button>
        </div>
    </div>
</div>
