<div (contextmenu)="__elementSelectionService.select('1743284165',$event)" [ngStyle]="__elementSelectionService.getStyles('1743284165')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('625205603',$event)" [ngStyle]="__elementSelectionService.getStyles('625205603')">
        <div class="col-md-8" *ngIf="account$ | async as account" (contextmenu)="__elementSelectionService.select('28404801',$event)" [ngStyle]="__elementSelectionService.getStyles('28404801')">
            <h2 (contextmenu)="__elementSelectionService.select('356019935',$event)" [ngStyle]="__elementSelectionService.getStyles('356019935')">Password for [<strong (contextmenu)="__elementSelectionService.select('260222578',$event)" [ngStyle]="__elementSelectionService.getStyles('260222578')">{{ account.login }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('896540184',$event)" [ngStyle]="__elementSelectionService.getStyles('896540184')">
                <strong (contextmenu)="__elementSelectionService.select('1068089235',$event)" [ngStyle]="__elementSelectionService.getStyles('1068089235')">Password changed!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('1764847663',$event)" [ngStyle]="__elementSelectionService.getStyles('1764847663')">
                <strong (contextmenu)="__elementSelectionService.select('1943712325',$event)" [ngStyle]="__elementSelectionService.getStyles('1943712325')">An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" (contextmenu)="__elementSelectionService.select('1181737720',$event)" [ngStyle]="__elementSelectionService.getStyles('1181737720')">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('885561473',$event)" [ngStyle]="__elementSelectionService.getStyles('885561473')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1452947007',$event)" [ngStyle]="__elementSelectionService.getStyles('1452947007')">
                    <label class="form-control-label" for="currentPassword" (contextmenu)="__elementSelectionService.select('1886711347',$event)" [ngStyle]="__elementSelectionService.getStyles('1886711347')">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current password" formControlName="currentPassword" (contextmenu)="__elementSelectionService.select('1228253927',$event)" [ngStyle]="__elementSelectionService.getStyles('1228253927')">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid &#38;&#38; (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" (contextmenu)="__elementSelectionService.select('969486288',$event)" [ngStyle]="__elementSelectionService.getStyles('969486288')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('1046859032',$event)" [ngStyle]="__elementSelectionService.getStyles('1046859032')">
                            Your password is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1765255569',$event)" [ngStyle]="__elementSelectionService.getStyles('1765255569')">
                    <label class="form-control-label" for="newPassword" (contextmenu)="__elementSelectionService.select('221332674',$event)" [ngStyle]="__elementSelectionService.getStyles('221332674')">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" formControlName="newPassword" (contextmenu)="__elementSelectionService.select('2113293595',$event)" [ngStyle]="__elementSelectionService.getStyles('2113293595')">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid &#38;&#38; (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1835750064',$event)" [ngStyle]="__elementSelectionService.getStyles('1835750064')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('960759213',$event)" [ngStyle]="__elementSelectionService.getStyles('960759213')">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1045709075',$event)" [ngStyle]="__elementSelectionService.getStyles('1045709075')">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1904561495',$event)" [ngStyle]="__elementSelectionService.getStyles('1904561495')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value" (contextmenu)="__elementSelectionService.select('1179414277',$event)" [ngStyle]="__elementSelectionService.getStyles('1179414277')"></jhi-password-strength-bar>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1597793036',$event)" [ngStyle]="__elementSelectionService.getStyles('1597793036')">
                    <label class="form-control-label" for="confirmPassword" (contextmenu)="__elementSelectionService.select('1140649249',$event)" [ngStyle]="__elementSelectionService.getStyles('1140649249')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('407433212',$event)" [ngStyle]="__elementSelectionService.getStyles('407433212')">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid &#38;&#38; (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1029279671',$event)" [ngStyle]="__elementSelectionService.getStyles('1029279671')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('29474579',$event)" [ngStyle]="__elementSelectionService.getStyles('29474579')">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('628150255',$event)" [ngStyle]="__elementSelectionService.getStyles('628150255')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('2056844210',$event)" [ngStyle]="__elementSelectionService.getStyles('2056844210')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('198049633',$event)" [ngStyle]="__elementSelectionService.getStyles('198049633')">Save</button>
            </form>
        </div>
    </div>
</div>
