<div class="row" (contextmenu)="__elementSelectionService.select('1188784108',$event)" [ngStyle]="__elementSelectionService.getStyles('1188784108')"(click)='__elementSelectionService.clear()'>
    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('2096545724',$event)" [ngStyle]="__elementSelectionService.getStyles('2096545724')">
        <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('1628394441',$event)" [ngStyle]="__elementSelectionService.getStyles('1628394441')"></span>
    </div>

    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1159857513',$event)" [ngStyle]="__elementSelectionService.getStyles('1159857513')">
        <h1 class="display-4" (contextmenu)="__elementSelectionService.select('424740430',$event)" [ngStyle]="__elementSelectionService.getStyles('424740430')">Welcome, Java Hipster!</h1>

        <p class="lead" (contextmenu)="__elementSelectionService.select('1351827847',$event)" [ngStyle]="__elementSelectionService.getStyles('1351827847')">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('1259979079',$event)" [ngStyle]="__elementSelectionService.getStyles('1259979079')">
            <div class="alert alert-success" *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('516262912',$event)" [ngStyle]="__elementSelectionService.getStyles('516262912')">
                <span id="home-logged-message" *ngIf="account" (contextmenu)="__elementSelectionService.select('263686880',$event)" [ngStyle]="__elementSelectionService.getStyles('263686880')">You are logged in as user &#34;{{ account.login }}&#34;.</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1172471272',$event)" [ngStyle]="__elementSelectionService.getStyles('1172471272')">
                <span (contextmenu)="__elementSelectionService.select('1081384938',$event)" [ngStyle]="__elementSelectionService.getStyles('1081384938')">If you want to </span>
                <a class="alert-link" (click)="login()" (contextmenu)="__elementSelectionService.select('1919135336',$event)" [ngStyle]="__elementSelectionService.getStyles('1919135336')">sign in</a><span (contextmenu)="__elementSelectionService.select('1102105166',$event)" [ngStyle]="__elementSelectionService.getStyles('1102105166')">, you can try the default accounts:<br (contextmenu)="__elementSelectionService.select('401339053',$event)" [ngStyle]="__elementSelectionService.getStyles('401339053')">- Administrator (login=&#34;admin&#34; and password=&#34;admin&#34;) <br (contextmenu)="__elementSelectionService.select('1929688181',$event)" [ngStyle]="__elementSelectionService.getStyles('1929688181')">- User (login=&#34;user&#34; and password=&#34;user&#34;).</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('477840531',$event)" [ngStyle]="__elementSelectionService.getStyles('477840531')">
                <span (contextmenu)="__elementSelectionService.select('1532895208',$event)" [ngStyle]="__elementSelectionService.getStyles('1532895208')">You don't have an account yet?</span>&#160;
                <a class="alert-link" routerLink="account/register" (contextmenu)="__elementSelectionService.select('325640372',$event)" [ngStyle]="__elementSelectionService.getStyles('325640372')">Register a new account</a>
            </div>
        </div>

        <p (contextmenu)="__elementSelectionService.select('1167673776',$event)" [ngStyle]="__elementSelectionService.getStyles('1167673776')">
            If you have any question on JHipster:
        </p>

        <ul (contextmenu)="__elementSelectionService.select('50385484',$event)" [ngStyle]="__elementSelectionService.getStyles('50385484')">
            <li (contextmenu)="__elementSelectionService.select('680144027',$event)" [ngStyle]="__elementSelectionService.getStyles('680144027')"><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('2083718270',$event)" [ngStyle]="__elementSelectionService.getStyles('2083718270')">JHipster homepage</a></li>
            <li (contextmenu)="__elementSelectionService.select('1944585857',$event)" [ngStyle]="__elementSelectionService.getStyles('1944585857')"><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('1988048898',$event)" [ngStyle]="__elementSelectionService.getStyles('1988048898')">JHipster on Stack Overflow</a></li>
            <li (contextmenu)="__elementSelectionService.select('266878114',$event)" [ngStyle]="__elementSelectionService.getStyles('266878114')"><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('1805437397',$event)" [ngStyle]="__elementSelectionService.getStyles('1805437397')">JHipster bug tracker</a></li>
            <li (contextmenu)="__elementSelectionService.select('1492321833',$event)" [ngStyle]="__elementSelectionService.getStyles('1492321833')"><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('1464048157',$event)" [ngStyle]="__elementSelectionService.getStyles('1464048157')">JHipster public chat room</a></li>
            <li (contextmenu)="__elementSelectionService.select('427864443',$event)" [ngStyle]="__elementSelectionService.getStyles('427864443')"><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('341774847',$event)" [ngStyle]="__elementSelectionService.getStyles('341774847')">follow @jhipster on Twitter</a></li>
        </ul>

        <p (contextmenu)="__elementSelectionService.select('1415417619',$event)" [ngStyle]="__elementSelectionService.getStyles('1415417619')">
            <span (contextmenu)="__elementSelectionService.select('528835831',$event)" [ngStyle]="__elementSelectionService.getStyles('528835831')">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" (contextmenu)="__elementSelectionService.select('51512597',$event)" [ngStyle]="__elementSelectionService.getStyles('51512597')">GitHub</a>!
        </p>
    </div>
</div>
