<div (contextmenu)="__elementSelectionService.select('937437484',$event)" [ngStyle]="__elementSelectionService.getStyles('937437484')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1097543271',$event)" [ngStyle]="__elementSelectionService.getStyles('1097543271')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('2004141615',$event)" [ngStyle]="__elementSelectionService.getStyles('2004141615')">
            <h1 (contextmenu)="__elementSelectionService.select('1862227768',$event)" [ngStyle]="__elementSelectionService.getStyles('1862227768')">Reset password</h1>

            <div class="alert alert-danger" *ngIf="initialized &#38;&#38; !key" (contextmenu)="__elementSelectionService.select('709555329',$event)" [ngStyle]="__elementSelectionService.getStyles('709555329')">
                <strong (contextmenu)="__elementSelectionService.select('843775929',$event)" [ngStyle]="__elementSelectionService.getStyles('843775929')">The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key &#38;&#38; !success" (contextmenu)="__elementSelectionService.select('1667105377',$event)" [ngStyle]="__elementSelectionService.getStyles('1667105377')">
                <span (contextmenu)="__elementSelectionService.select('1997332389',$event)" [ngStyle]="__elementSelectionService.getStyles('1997332389')">Choose a new password</span>
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('178242361',$event)" [ngStyle]="__elementSelectionService.getStyles('178242361')">
                <span (contextmenu)="__elementSelectionService.select('1867334372',$event)" [ngStyle]="__elementSelectionService.getStyles('1867334372')">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
            </div>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('2090010726',$event)" [ngStyle]="__elementSelectionService.getStyles('2090010726')">
                <span (contextmenu)="__elementSelectionService.select('1836257702',$event)" [ngStyle]="__elementSelectionService.getStyles('1836257702')"><strong (contextmenu)="__elementSelectionService.select('419529018',$event)" [ngStyle]="__elementSelectionService.getStyles('419529018')">Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" (contextmenu)="__elementSelectionService.select('475970204',$event)" [ngStyle]="__elementSelectionService.getStyles('475970204')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" (contextmenu)="__elementSelectionService.select('2028622153',$event)" [ngStyle]="__elementSelectionService.getStyles('2028622153')">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="key &#38;&#38; !success" (contextmenu)="__elementSelectionService.select('224494035',$event)" [ngStyle]="__elementSelectionService.getStyles('224494035')">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('410835220',$event)" [ngStyle]="__elementSelectionService.getStyles('410835220')">
                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1897859805',$event)" [ngStyle]="__elementSelectionService.getStyles('1897859805')">
                        <label class="form-control-label" for="newPassword" (contextmenu)="__elementSelectionService.select('1532325294',$event)" [ngStyle]="__elementSelectionService.getStyles('1532325294')">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" formControlName="newPassword" #newPassword (contextmenu)="__elementSelectionService.select('1513816078',$event)" [ngStyle]="__elementSelectionService.getStyles('1513816078')">

                        <div *ngIf="passwordForm.get('newPassword')!.invalid &#38;&#38; (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)" (contextmenu)="__elementSelectionService.select('611440164',$event)" [ngStyle]="__elementSelectionService.getStyles('611440164')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('758217109',$event)" [ngStyle]="__elementSelectionService.getStyles('758217109')">
                                Your password is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1568233856',$event)" [ngStyle]="__elementSelectionService.getStyles('1568233856')">
                                Your password is required to be at least 4 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1598036305',$event)" [ngStyle]="__elementSelectionService.getStyles('1598036305')">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value" (contextmenu)="__elementSelectionService.select('1965696107',$event)" [ngStyle]="__elementSelectionService.getStyles('1965696107')"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1399920266',$event)" [ngStyle]="__elementSelectionService.getStyles('1399920266')">
                        <label class="form-control-label" for="confirmPassword" (contextmenu)="__elementSelectionService.select('1146351677',$event)" [ngStyle]="__elementSelectionService.getStyles('1146351677')">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('461828983',$event)" [ngStyle]="__elementSelectionService.getStyles('461828983')">

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid &#38;&#38; (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1059820816',$event)" [ngStyle]="__elementSelectionService.getStyles('1059820816')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('1681199417',$event)" [ngStyle]="__elementSelectionService.getStyles('1681199417')">
                                Your password confirmation is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1069336474',$event)" [ngStyle]="__elementSelectionService.getStyles('1069336474')">
                                Your password confirmation is required to be at least 4 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('319653457',$event)" [ngStyle]="__elementSelectionService.getStyles('319653457')">
                                Your password confirmation cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1894584885',$event)" [ngStyle]="__elementSelectionService.getStyles('1894584885')">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
