<div (contextmenu)="__elementSelectionService.select('1563340746',$event)" [ngStyle]="__elementSelectionService.getStyles('1563340746')"(click)='__elementSelectionService.clear()'>
    <h2 (contextmenu)="__elementSelectionService.select('1009744898',$event)" [ngStyle]="__elementSelectionService.getStyles('1009744898')">
        <span id="metrics-page-heading" (contextmenu)="__elementSelectionService.select('349689010',$event)" [ngStyle]="__elementSelectionService.getStyles('349689010')">Application Metrics</span>

        <button class="btn btn-primary float-right" (click)="refresh()" (contextmenu)="__elementSelectionService.select('1447006257',$event)" [ngStyle]="__elementSelectionService.getStyles('1447006257')">
            <fa-icon icon="sync" (contextmenu)="__elementSelectionService.select('1360861203',$event)" [ngStyle]="__elementSelectionService.getStyles('1360861203')"></fa-icon> <span (contextmenu)="__elementSelectionService.select('378909022',$event)" [ngStyle]="__elementSelectionService.getStyles('378909022')">Refresh</span>
        </button>
    </h2>

    <h3 (contextmenu)="__elementSelectionService.select('1020102010',$event)" [ngStyle]="__elementSelectionService.getStyles('1020102010')">JVM Metrics</h3>

    <div class="row" *ngIf="metrics &#38;&#38; !updatingMetrics" (contextmenu)="__elementSelectionService.select('374940874',$event)" [ngStyle]="__elementSelectionService.getStyles('374940874')">
        <jhi-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm" (contextmenu)="__elementSelectionService.select('792558482',$event)" [ngStyle]="__elementSelectionService.getStyles('792558482')">
        </jhi-jvm-memory>

        <jhi-jvm-threads class="col-md-4" [threadData]="threads" (contextmenu)="__elementSelectionService.select('345583722',$event)" [ngStyle]="__elementSelectionService.getStyles('345583722')">
        </jhi-jvm-threads>

        <jhi-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics" (contextmenu)="__elementSelectionService.select('1143964118',$event)" [ngStyle]="__elementSelectionService.getStyles('1143964118')">
        </jhi-metrics-system>
    </div>

    <div *ngIf="metrics &#38;&#38; metricsKeyExists('garbageCollector')" (contextmenu)="__elementSelectionService.select('462389997',$event)" [ngStyle]="__elementSelectionService.getStyles('462389997')">
        <h3 (contextmenu)="__elementSelectionService.select('1596627941',$event)" [ngStyle]="__elementSelectionService.getStyles('1596627941')">Garbage collector statistics</h3>

        <jhi-metrics-garbagecollector [updating]="updatingMetrics" [garbageCollectorMetrics]="metrics.garbageCollector" (contextmenu)="__elementSelectionService.select('49150474',$event)" [ngStyle]="__elementSelectionService.getStyles('49150474')">
        </jhi-metrics-garbagecollector>
    </div>

    <div class="well well-lg" *ngIf="updatingMetrics" (contextmenu)="__elementSelectionService.select('989129392',$event)" [ngStyle]="__elementSelectionService.getStyles('989129392')">Updating...</div>

    <jhi-metrics-request *ngIf="metrics &#38;&#38; metricsKeyExists('http.server.requests')" [updating]="updatingMetrics" [requestMetrics]="metrics['http.server.requests']" (contextmenu)="__elementSelectionService.select('1569431529',$event)" [ngStyle]="__elementSelectionService.getStyles('1569431529')">
    </jhi-metrics-request>

    <jhi-metrics-endpoints-requests *ngIf="metrics &#38;&#38; metricsKeyExists('services')" [updating]="updatingMetrics" [endpointsRequestsMetrics]="metrics.services" (contextmenu)="__elementSelectionService.select('1458946574',$event)" [ngStyle]="__elementSelectionService.getStyles('1458946574')">
    </jhi-metrics-endpoints-requests>

    <jhi-metrics-cache *ngIf="metrics &#38;&#38; metricsKeyExists('cache')" [updating]="updatingMetrics" [cacheMetrics]="metrics.cache" (contextmenu)="__elementSelectionService.select('1000693616',$event)" [ngStyle]="__elementSelectionService.getStyles('1000693616')">
    </jhi-metrics-cache>

    <jhi-metrics-datasource *ngIf="metrics &#38;&#38; metricsKeyExistsAndObjectNotEmpty('databases')" [updating]="updatingMetrics" [datasourceMetrics]="metrics.databases" (contextmenu)="__elementSelectionService.select('647599070',$event)" [ngStyle]="__elementSelectionService.getStyles('647599070')">
    </jhi-metrics-datasource>
</div>
