<div class="modal-header" (contextmenu)="__elementSelectionService.select('1044346606',$event)" [ngStyle]="__elementSelectionService.getStyles('1044346606')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" (contextmenu)="__elementSelectionService.select('29497534',$event)" [ngStyle]="__elementSelectionService.getStyles('29497534')">Sign in</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('1283468532',$event)" [ngStyle]="__elementSelectionService.getStyles('1283468532')">
        <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('2060873797',$event)" [ngStyle]="__elementSelectionService.getStyles('2060873797')">x</span>
    </button>
</div>

<div class="modal-body" (contextmenu)="__elementSelectionService.select('1721070409',$event)" [ngStyle]="__elementSelectionService.getStyles('1721070409')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1700915847',$event)" [ngStyle]="__elementSelectionService.getStyles('1700915847')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1953958269',$event)" [ngStyle]="__elementSelectionService.getStyles('1953958269')">
            <div class="alert alert-danger" *ngIf="authenticationError" (contextmenu)="__elementSelectionService.select('970812555',$event)" [ngStyle]="__elementSelectionService.getStyles('970812555')">
                <strong (contextmenu)="__elementSelectionService.select('1883269037',$event)" [ngStyle]="__elementSelectionService.getStyles('1883269037')">Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('438279920',$event)" [ngStyle]="__elementSelectionService.getStyles('438279920')">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm" (contextmenu)="__elementSelectionService.select('1458524207',$event)" [ngStyle]="__elementSelectionService.getStyles('1458524207')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('75814733',$event)" [ngStyle]="__elementSelectionService.getStyles('75814733')">
                    <label class="username-label" for="username" (contextmenu)="__elementSelectionService.select('1997190527',$event)" [ngStyle]="__elementSelectionService.getStyles('1997190527')">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username" formControlName="username" #username (contextmenu)="__elementSelectionService.select('293883248',$event)" [ngStyle]="__elementSelectionService.getStyles('293883248')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1036388679',$event)" [ngStyle]="__elementSelectionService.getStyles('1036388679')">
                    <label for="password" (contextmenu)="__elementSelectionService.select('526028557',$event)" [ngStyle]="__elementSelectionService.getStyles('526028557')">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password" formControlName="password" (contextmenu)="__elementSelectionService.select('1037660372',$event)" [ngStyle]="__elementSelectionService.getStyles('1037660372')">
                </div>

                <div class="form-check" (contextmenu)="__elementSelectionService.select('235226578',$event)" [ngStyle]="__elementSelectionService.getStyles('235226578')">
                    <label class="form-check-label" for="rememberMe" (contextmenu)="__elementSelectionService.select('59042148',$event)" [ngStyle]="__elementSelectionService.getStyles('59042148')">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" (contextmenu)="__elementSelectionService.select('1223507198',$event)" [ngStyle]="__elementSelectionService.getStyles('1223507198')">
                        <span (contextmenu)="__elementSelectionService.select('1053076199',$event)" [ngStyle]="__elementSelectionService.getStyles('1053076199')">Remember me</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('441140024',$event)" [ngStyle]="__elementSelectionService.getStyles('441140024')">Sign in</button>
            </form>

            <div class="mt-3 alert alert-warning" (contextmenu)="__elementSelectionService.select('1042302684',$event)" [ngStyle]="__elementSelectionService.getStyles('1042302684')">
                <a class="alert-link" (click)="requestResetPassword()" (contextmenu)="__elementSelectionService.select('529241898',$event)" [ngStyle]="__elementSelectionService.getStyles('529241898')">Did you forget your password?</a>
            </div>

            <div class="alert alert-warning" (contextmenu)="__elementSelectionService.select('75732398',$event)" [ngStyle]="__elementSelectionService.getStyles('75732398')">
                <span (contextmenu)="__elementSelectionService.select('1150375045',$event)" [ngStyle]="__elementSelectionService.getStyles('1150375045')">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" (contextmenu)="__elementSelectionService.select('2017197165',$event)" [ngStyle]="__elementSelectionService.getStyles('2017197165')">Register a new account</a>
            </div>
        </div>
    </div>
</div>
